# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.out
coverage.html

# Environment
.env
.env.*

# Dependency
vendor/

# Build
tmp/
bin/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Logs
*.log
